.mce-justwritingtinymcebutton { 
	background-position:0px -24px !important; 
	background-size: auto !important; 
	background-image: url('../JustWritingPen.png?ver=20131018') !important;
	position: absolute;
	top: 3px;
	right: 36px;
	}
